/*Contato*/
section.formcontato{
  margin: auto 5rem;
}

.formcontato__contacto{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1.5rem;
}

.formcontato__img{
  max-width: 50vh;
}

.formcontato__text{
  display: flex;
  flex-direction: column;

  max-width: 100%;
}

.formcontato__title{
  margin-bottom: 1.5rem;
  text-align: left;
  font-size: 2rem;

  color: var(--cor-de-texto);
}

.formcontato__subtext{
  line-height: 1.5;

  color: var(--cor-de-texto);
  font-weight: 500;
  font-size: var(--tamanho-fonte-texto-normal);
}

.formcontato__form{
  margin-top: 1.5rem;
}

.formcontato__input,
.formcontato__textarea{
  display: block;

  width: calc(100% - 1.5rem);
  padding: 1.25rem 1rem;
  margin-bottom: 1.25rem;

  border-radius: 0.5rem 0.5rem 0 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 3px;
  border-style: solid;
  border-color: var(--cor-de-borda-inputs);
  
  background-color: var(--cor-de-fundo-inputs);

  transition: 0.3s;
}

.formcontato__input,
.formcontato__textarea{
  outline: none;
}

.formcontato__textarea{
  resize: none;
}

.formcontato__input.ativo, .formcontato__input:focus,
.formcontato__textarea.ativo, .formcontato__textarea:focus{
  border-color: var(--cor-de-borda-botao-2);
}

.formcontato__botao{
  display: block;
  
  cursor: pointer;
  padding: 1rem 0.75rem;

  border: 1px solid var(--cor-de-borda-botao-2);
  background-color: var(--cor-de-fundo-botao-2);
  color: var(--cor-de-texto-botao-2);

  margin-right: 0.25rem;

  transition: 0.3s;

  font-size: var(--tamanho-fonte-texto-normal);
}

.formcontato__botao:hover{
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  section.formcontato{
    margin: 0;
    padding: 3rem 2rem;

    background-color: var(--cor-de-fundo-contato);
  }

  .formcontato__contacto{
    grid-template-columns: calc(100% - 2rem);
  }

  .formcontato__img{
    display: none;
  }

  .formcontato__text{
    margin: 0;
  }

  .formcontato__input,
  .formcontato__textarea{
    width: calc(100%);
  }
}

@media screen and (min-width: 767px) and (max-width: 1000px){
  section.formcontato{
    margin: 0;
    padding: 3rem;

    background-color: var(--cor-de-fundo-contato);
  }

  .formcontato__contacto{
    grid-template-columns: calc(100% - 2rem);
  }

  .formcontato__img{
    display: none;
  }

  .formcontato__input,
  .formcontato__textarea{
    width: calc(100%);
  }
}