.modal{
  border: none;
  border-radius: 5px;

  padding: 2rem;
}

.modal::backdrop{
  background-color: rgba(0, 0, 0, 0.5);
}

.modal p{
  line-height: 1.5;
}

.modal ul li{
  list-style-type: square;
  margin-left: 20px;
  line-height: 2;
}

.modal button{
  cursor: pointer;
  outline: none;
}