@import url(variaveis.css);
@import url(reset.css);
@import url(normalize.css);

@import url(menu.css);
@import url(title.css);
@import url(about.css);
@import url(skills.css);
@import url(hobbies.css);
@import url(academic.css);
@import url(experience.css);
@import url(formcontato.css);
@import url(footer.css);

body{
  box-sizing: border-box;
  background-color: var(--cor-de-fundo) ;
  font-family: 'Inter Tight';
  margin: 0;
  padding: 0;
  line-height: 1;
}

.destaque{
  font-weight: 700;
}


/*Footeer*/
section.footer{
  
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {  
}

/*Mobile*/
@media (min-width: 425px) {  
}

