@import url(variaveis.css);
@import url(reset.css);
@import url(normalize.css);

@import url(menu.css);
@import url(title.css);
@import url(about.css);
@import url(skills.css);
@import url(hobbies.css);
@import url(academic.css);
@import url(experience.css);
@import url(contato-iframe.css);
@import url(footer.css);

@import url(loader.css);
@import url(modal.css);
@import url(no-script.css);

html{
  scroll-behavior: smooth;
}

body{
  box-sizing: border-box;
  background-color: var(--cor-de-fundo) ;
  font-family: 'Inter Tight', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.destaque{
  font-weight: 700;
}

.oculto{
  display: none;
}

.link-visivel{
  text-decoration: underline;
  cursor: pointer;
}