:root{
  --cor-de-fundo-secundaria: #FFF;
  --cor-de-fundo: #F5F5F5;
  --cor-de-fundo-formacao: #EAF2FD;
  --cor-de-fundo-contato: #EAF2FD;

  --cor-de-link: #000;

  --cor-de-texto: #464646;
  --cor-de-icone: #464646;

  --cor-de-borda-inputs: #808080;
  --cor-de-fundo-inputs: #FFF;

  --cor-de-fundo-botao-2: #0000FF;
  --cor-de-borda-botao-2: #0000FF;
  --cor-de-texto-botao-2: #FFF;

  --cor-de-fundo-botao-1: transparent;
  --cor-de-borda-botao-1: #0000FF;
  --cor-de-texto-botao-1: #0000FF;

  --cor-background-loader: #F5F5F5;
  --cor-loader: #0000FF;

  --cor-background-hover-links: #D3D3D3;

  --tamanho-fonte-texto-normal: 1.2rem;
}